{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}


    <ul>
        {% for restaurant in restaurants %}
            <li>
             
              {{ restaurant.name }} (Moyenne de {{ 
                restaurant.averageRating | number_format(2, ',') }})<br>
                <small>{{ restaurant.description }}</small>
            </li>
        {% endfor %}
    </ul>


{% endblock %}